body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

h1 {
    font-family: "Sacramento", cursive;
    font-size: 90px;
  margin-top: 0;
}

h2 {
  font-family: "Montserrat", sans-serif;
}

h3 {
  font-family: "Montserrat", sans-serif;
}

.top-container {
  background-color: #e4f9f5;
  padding-top: 60px;
}

.middle-container {
 background-color: whitesmoke;
}

.bottom-container {
    
}

.bottom-cloud {
  position: absolute;
}

.top-cloud {
  position: relative;
  right: -200px;
}
